<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerheight</key>
		<integer>0</integer>
		<key>footerheight</key>
		<integer>0</integer>
		<key>headerTitle</key>
		<string>基本信息</string>
		<key>footerTitle</key>
		<string></string>
		<key>sectionIndex</key>
		<integer>0</integer>
		<key>cellModels</key>
		<array>
			<dict>
				<key>parentKeyString</key>
				<string>flat</string>
				<key>navigationStr</key>
				<string></string>
				<key>placeholder</key>
				<string>请选择</string>
				<key>rowHeight</key>
				<integer>0</integer>
				<key>title</key>
				<string>房间类型</string>
				<key>accessoryType</key>
				<integer>1</integer>
				<key>keyString</key>
				<string>flatType</string>
			</dict>
			<dict>
				<key>navigationStr</key>
				<string></string>
				<key>placeholder</key>
				<string>请选择</string>
				<key>rowHeight</key>
				<integer>1</integer>
				<key>title</key>
				<string>房间户型</string>
				<key>accessoryType</key>
				<integer>1</integer>
				<key>keyString</key>
				<string>layoutType</string>
				<key>parentKeyString</key>
				<string>flat</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>switch</string>
				<key>navigationStr</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>rowHeight</key>
				<integer>0</integer>
				<key>title</key>
				<string>电梯房</string>
				<key>accessoryType</key>
				<integer>0</integer>
				<key>keyString</key>
				<string>elevatorCount</string>
				<key>parentKeyString</key>
				<string>flat</string>
			</dict>
			<dict>
				<key>parentKeyString</key>
				<string>flat</string>
				<key>navigationStr</key>
				<string></string>
				<key>placeholder</key>
				<string>请选择</string>
				<key>rowHeight</key>
				<integer>0</integer>
				<key>title</key>
				<string>所在楼层</string>
				<key>accessoryType</key>
				<integer>1</integer>
				<key>keyString</key>
				<string>floorNum</string>
			</dict>
			<dict>
				<key>parentKeyString</key>
				<string>flat</string>
				<key>identifier</key>
				<string>input</string>
				<key>navigationStr</key>
				<string></string>
				<key>placeholder</key>
				<string>请输入</string>
				<key>rowHeight</key>
				<integer>0</integer>
				<key>title</key>
				<string>户型面积</string>
				<key>accessoryType</key>
				<integer>0</integer>
				<key>keyString</key>
				<string>flatArea</string>
			</dict>
			<dict>
				<key>parentKeyString</key>
				<string>flat</string>
				<key>navigationStr</key>
				<string>/room/detail/roomConfig</string>
				<key>placeholder</key>
				<string>请选择</string>
				<key>rowHeight</key>
				<integer>0</integer>
				<key>title</key>
				<string>房源配置（选填）</string>
				<key>accessoryType</key>
				<integer>1</integer>
				<key>keyString</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerheight</key>
		<integer>0</integer>
		<key>footerheight</key>
		<integer>0</integer>
		<key>headerTitle</key>
		<string>租金和付款方式</string>
		<key>footerTitle</key>
		<string></string>
		<key>sectionIndex</key>
		<integer>0</integer>
		<key>cellModels</key>
		<array>
			<dict>
				<key>parentKeyString</key>
				<string>payTypeList</string>
				<key>identifier</key>
				<string>input</string>
				<key>navigationStr</key>
				<string></string>
				<key>placeholder</key>
				<string>请输入</string>
				<key>rowHeight</key>
				<integer>0</integer>
				<key>title</key>
				<string>定金</string>
				<key>accessoryType</key>
				<integer>0</integer>
				<key>keyString</key>
				<string>frontMoneyAmount</string>
			</dict>
			<dict>
				<key>navigationStr</key>
				<string></string>
				<key>placeholder</key>
				<string>请选择</string>
				<key>rowHeight</key>
				<integer>1</integer>
				<key>title</key>
				<string>收租日</string>
				<key>accessoryType</key>
				<integer>1</integer>
				<key>keyString</key>
				<string>payDateType</string>
				<key>parentKeyString</key>
				<string>payDate</string>
			</dict>
			<dict>
				<key>navigationStr</key>
				<string></string>
				<key>placeholder</key>
				<string>请选择</string>
				<key>rowHeight</key>
				<integer>0</integer>
				<key>title</key>
				<string>付款方式</string>
				<key>accessoryType</key>
				<integer>1</integer>
				<key>keyString</key>
				<string>rentPeriodsZh</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>input</string>
				<key>navigationStr</key>
				<string></string>
				<key>placeholder</key>
				<string>请输入</string>
				<key>rowHeight</key>
				<integer>0</integer>
				<key>title</key>
				<string>房屋租金</string>
				<key>accessoryType</key>
				<integer>0</integer>
				<key>keyString</key>
				<string>salePrice</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>input</string>
				<key>navigationStr</key>
				<string></string>
				<key>placeholder</key>
				<string>请输入</string>
				<key>rowHeight</key>
				<integer>0</integer>
				<key>title</key>
				<string>房屋押金</string>
				<key>accessoryType</key>
				<integer>0</integer>
				<key>keyString</key>
				<string>foregiftAmount</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerheight</key>
		<integer>0</integer>
		<key>footerheight</key>
		<integer>0</integer>
		<key>headerTitle</key>
		<string></string>
		<key>footerTitle</key>
		<string></string>
		<key>sectionIndex</key>
		<integer>0</integer>
		<key>cellModels</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>add</string>
				<key>navigationStr</key>
				<string></string>
				<key>rowHeight</key>
				<integer>0</integer>
				<key>title</key>
				<string>其他费用（选填）</string>
				<key>accessoryType</key>
				<integer>0</integer>
				<key>keyString</key>
				<string>foregiftAmount</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerheight</key>
		<integer>0</integer>
		<key>footerheight</key>
		<integer>0</integer>
		<key>headerTitle</key>
		<string></string>
		<key>footerTitle</key>
		<string></string>
		<key>sectionIndex</key>
		<integer>0</integer>
		<key>cellModels</key>
		<array>
			<dict>
				<key>navigationStr</key>
				<string>/room/detail/roomIntro</string>
				<key>placeholder</key>
				<string>请输入</string>
				<key>rowHeight</key>
				<integer>0</integer>
				<key>title</key>
				<string>房源描述（选填）</string>
				<key>accessoryType</key>
				<integer>1</integer>
				<key>keyString</key>
				<string>roomIntro</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
